body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Gilroy", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@font-face {
  font-family: "Gilroy";
  src: url("../public/fonts/Gilroy/Gilroy-Light.eot");
  src: local("Gilroy Light"), local("Gilroy-Light"),
    url("../public/fonts/Gilroy/Gilroy-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/Gilroy/Gilroy-Light.woff") format("woff"),
    url("../public/fonts/Gilroy/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../public/fonts/Gilroy/Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"),
    url("../public/fonts/Gilroy/Gilroy-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/Gilroy/Gilroy-Medium.woff") format("woff"),
    url("../public/fonts/Gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../public/fonts/Gilroy/Gilroy-ExtraBold.eot");
  src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"),
    url("../public/fonts/Gilroy/Gilroy-ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/Gilroy/Gilroy-ExtraBold.woff") format("woff"),
    url("../public/fonts/Gilroy/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
